.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: first baseline;
}

.sidenav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer{
    margin-bottom: 10px;
}